<a href="https://colab.research.google.com/github/eminekilic/Pandas_Homework/blob/main/Pandas_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Veri setinin okunması

In [ ]:
titanic_data = pd.read_csv("Titanic_dataset.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Kazada ölenlerin yaş ortalamasını bulunuz

In [ ]:
ortalama_yas = titanic_data[titanic_data['Survived']== 0]['Age'].mean()
print(ortalama_yas)

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [ ]:
ort_fiyat = titanic_data[titanic_data['Survived']== 0]['Fare'].mean()
print("Ortalama Fiyat",ort_fiyat)
fiyat_medyan = titanic_data[titanic_data['Survived']== 0]['Fare'].median()
print("Medyan Fiyat", fiyat_medyan)

Ortalama Fiyat 22.117886885245902
Medyan Fiyat 10.5

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [ ]:
man_age_avg = titanic_data[(titanic_data['Survived']== 0) & (titanic_data['Sex']== 'male')]['Age'].mean()
print("Ölen erkeklerin yaş ortalaması", man_age_avg)

Ölen erkeklerin yaş ortalaması 31.618055555555557

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [ ]:
woman_age_avg = titanic_data[(titanic_data['Survived']== 0) & (titanic_data['Sex']== 'female')]['Age'].mean()
print("Ölen kadınların yaş ortalaması", woman_age_avg)

Ölen kadınların yaş ortalaması 25.046875

Kazadan kurtulanların yaş ortalamasını bulunuz

In [ ]:
age_avg = titanic_data[titanic_data['Survived']== 1]['Age'].mean()
print("Yaş ortalaması", age_avg)

Yaş ortalaması 28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [ ]:
fare_avg = titanic_data[titanic_data['Survived'] == 1]['Fare'].mean()
print("Bilet fiyatlarının ortalaması", fare_avg)

Bilet fiyatlarının ortalaması 48.39540760233918

Kazadan kurtulan toplam kişi sayısını bulunuz…

In [ ]:
survived_count = titanic_data[titanic_data['Survived']== 1]['Survived'].count()
print("Kazadan kurtulan kişi sayısı", survived_count)

Kazadan kurtulan kişi sayısı 342

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [ ]:
fare_median = titanic_data[titanic_data['Age'] < 10]['Fare'].median()
print("10 yaşından küçüklerin bilet fiyatlarının medyanı", fare_median)

10 yaşından küçüklerin bilet fiyatlarının medyanı 27.0

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız.

In [ ]:
first_class_fare_avg = titanic_data[titanic_data['Pclass'] == 1]['Fare'].mean()
second_class_fare_avg = titanic_data[titanic_data['Pclass'] == 2]['Fare'].mean()
third_class_fare_avg = titanic_data[titanic_data['Pclass'] == 3]['Fare'].mean()
first_class_fare_median = titanic_data[titanic_data['Pclass'] == 1]['Fare'].median()
second_class_fare_median = titanic_data[titanic_data['Pclass'] == 2]['Fare'].median()
third_class_fare_median = titanic_data[titanic_data['Pclass'] == 3]['Fare'].median()
print("1.sınıf fiyat ortalaması", first_class_fare_avg)
print("2.sınıf fiyat ortalaması", second_class_fare_avg)
print("3.sınıf fiyat ortalaması", third_class_fare_avg)
print("1.sınıf fiyat medyanı", first_class_fare_median)
print("2.sınıf fiyat medyanı", second_class_fare_median)
print("3.sınıf fiyat medyanı", third_class_fare_median)

1.sınıf fiyat ortalaması 84.1546875
2.sınıf fiyat ortalaması 20.662183152173913
3.sınıf fiyat ortalaması 13.675550101832993
1.sınıf fiyat medyanı 60.287499999999994
2.sınıf fiyat medyanı 14.25
3.sınıf fiyat medyanı 8.05

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

In [ ]:

male_total = titanic_data[titanic_data['Sex'] == 'male']
male_died = male_total[male_total['Survived'] == 0]
male_death_rate = len(male_died) / len(male_total)


female_total = titanic_data[titanic_data['Sex'] == 'female']
female_died = female_total[female_total['Survived'] == 0]
female_death_rate = len(female_died) / len(female_total)


print("Erkek ölüm oranı:" ,male_death_rate)
print("Kadın ölüm oranı:" ,female_death_rate)

Erkek ölüm oranı: 0.8110918544194108
Kadın ölüm oranı: 0.25796178343949044