<a href="https://colab.research.google.com/github/eminekilic/Pandas_Homework/blob/main/Pandas_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

Veri setinin okunmasÄ±

In [ ]:
titanic_data = pd.read_csv("Titanic_dataset.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Kazada Ã¶lenlerin yaÅ ortalamasÄ±nÄ± bulunuz

In [ ]:
ortalama_yas = titanic_data[titanic_data['Survived']== 0]['Age'].mean()
print(ortalama_yas)

30.62617924528302

Kazada Ã¶lenlerin bilet fiyatlarÄ±nÄ±n ortalamasÄ±nÄ± ve medyanÄ±nÄ± bulunuz

In [ ]:
ort_fiyat = titanic_data[titanic_data['Survived']== 0]['Fare'].mean()
print("Ortalama Fiyat",ort_fiyat)
fiyat_medyan = titanic_data[titanic_data['Survived']== 0]['Fare'].median()
print("Medyan Fiyat", fiyat_medyan)

Ortalama Fiyat 22.117886885245902
Medyan Fiyat 10.5

Kazada Ã¶len erkeklerin yaÅ ortalamasÄ±nÄ± bulunuz

In [ ]:
man_age_avg = titanic_data[(titanic_data['Survived']== 0) & (titanic_data['Sex']== 'male')]['Age'].mean()
print("Ãlen erkeklerin yaÅ ortalamasÄ±", man_age_avg)

Ãlen erkeklerin yaÅ ortalamasÄ± 31.618055555555557

Kazada Ã¶len KadÄ±nlarÄ±n yaÅ ortalamasÄ±nÄ± bulunuz

In [ ]:
woman_age_avg = titanic_data[(titanic_data['Survived']== 0) & (titanic_data['Sex']== 'female')]['Age'].mean()
print("Ãlen kadÄ±nlarÄ±n yaÅ ortalamasÄ±", woman_age_avg)

Ãlen kadÄ±nlarÄ±n yaÅ ortalamasÄ± 25.046875

Kazadan kurtulanlarÄ±n yaÅ ortalamasÄ±nÄ± bulunuz

In [ ]:
age_avg = titanic_data[titanic_data['Survived']== 1]['Age'].mean()
print("YaÅ ortalamasÄ±", age_avg)

YaÅ ortalamasÄ± 28.343689655172415

Kazadan kurtulanlarÄ±n bilet fiyatlarÄ±nÄ±n ortalamasÄ±nÄ± bulunuz

In [ ]:
fare_avg = titanic_data[titanic_data['Survived'] == 1]['Fare'].mean()
print("Bilet fiyatlarÄ±nÄ±n ortalamasÄ±", fare_avg)

Bilet fiyatlarÄ±nÄ±n ortalamasÄ± 48.39540760233918

Kazadan kurtulan toplam kiÅi sayÄ±sÄ±nÄ± bulunuzâ¦

In [ ]:
survived_count = titanic_data[titanic_data['Survived']== 1]['Survived'].count()
print("Kazadan kurtulan kiÅi sayÄ±sÄ±", survived_count)

Kazadan kurtulan kiÅi sayÄ±sÄ± 342

10 yaÅÄ±ndan kÃ¼Ã§Ã¼klerin bilet fiyatlarÄ±nÄ±n medyan deÄerini bulunuz

In [ ]:
fare_median = titanic_data[titanic_data['Age'] < 10]['Fare'].median()
print("10 yaÅÄ±ndan kÃ¼Ã§Ã¼klerin bilet fiyatlarÄ±nÄ±n medyanÄ±", fare_median)

10 yaÅÄ±ndan kÃ¼Ã§Ã¼klerin bilet fiyatlarÄ±nÄ±n medyanÄ± 27.0

1.sÄ±nÄ±f, 2.sÄ±nÄ±f ve 3.sÄ±nÄ±f bilet fiyatlarÄ±nÄ±n ortalama ve medyanlarÄ±nÄ± karÅÄ±laÅtÄ±rÄ±nÄ±z.

In [ ]:
first_class_fare_avg = titanic_data[titanic_data['Pclass'] == 1]['Fare'].mean()
second_class_fare_avg = titanic_data[titanic_data['Pclass'] == 2]['Fare'].mean()
third_class_fare_avg = titanic_data[titanic_data['Pclass'] == 3]['Fare'].mean()
first_class_fare_median = titanic_data[titanic_data['Pclass'] == 1]['Fare'].median()
second_class_fare_median = titanic_data[titanic_data['Pclass'] == 2]['Fare'].median()
third_class_fare_median = titanic_data[titanic_data['Pclass'] == 3]['Fare'].median()
print("1.sÄ±nÄ±f fiyat ortalamasÄ±", first_class_fare_avg)
print("2.sÄ±nÄ±f fiyat ortalamasÄ±", second_class_fare_avg)
print("3.sÄ±nÄ±f fiyat ortalamasÄ±", third_class_fare_avg)
print("1.sÄ±nÄ±f fiyat medyanÄ±", first_class_fare_median)
print("2.sÄ±nÄ±f fiyat medyanÄ±", second_class_fare_median)
print("3.sÄ±nÄ±f fiyat medyanÄ±", third_class_fare_median)

1.sÄ±nÄ±f fiyat ortalamasÄ± 84.1546875
2.sÄ±nÄ±f fiyat ortalamasÄ± 20.662183152173913
3.sÄ±nÄ±f fiyat ortalamasÄ± 13.675550101832993
1.sÄ±nÄ±f fiyat medyanÄ± 60.287499999999994
2.sÄ±nÄ±f fiyat medyanÄ± 14.25
3.sÄ±nÄ±f fiyat medyanÄ± 8.05

Kazada Ã¶len kadÄ±nlarÄ±n oranÄ± ile erkeklerin oranÄ±nÄ± karÅÄ±laÅtÄ±rÄ±nÄ±z. (Ãrnek: erkekler iÃ§in; Ã¶len erkeklerin, erkek sayÄ±sÄ±na bÃ¶lÃ¼mÃ¼ bu oranÄ± vermektedir.

In [ ]:

male_total = titanic_data[titanic_data['Sex'] == 'male']
male_died = male_total[male_total['Survived'] == 0]
male_death_rate = len(male_died) / len(male_total)


female_total = titanic_data[titanic_data['Sex'] == 'female']
female_died = female_total[female_total['Survived'] == 0]
female_death_rate = len(female_died) / len(female_total)


print("Erkek Ã¶lÃ¼m oranÄ±:" ,male_death_rate)
print("KadÄ±n Ã¶lÃ¼m oranÄ±:" ,female_death_rate)

Erkek Ã¶lÃ¼m oranÄ±: 0.8110918544194108
KadÄ±n Ã¶lÃ¼m oranÄ±: 0.25796178343949044